.content{
        width: 40%;
        margin: auto;
        align-content: center;
        padding: auto;
    }
    #thumbs {
        margin: auto;
        align-content: center;
        padding: auto;
    }